* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
body{
    background-image: url(./cards/desert.jpg);
    background-size: cover;
}

.score{
    width: 200px;
    height: 110px;
    border: 10px solid white;

    font-size: 50px;
    text-align: center;
}

.controls{
    height: 150px;
    position: relative;
    text-align: center;
}

.gmbtn{
    width: 200px;
    height: 100px;
    border: 6px solid black;
    border-radius: 30px;
    font-size: 50px;
    text-align: center;
}

#shuffle{
    position: absolute;
    visibility: visible;
}

#war{    
    visibility: hidden;
    background-color: olivedrab;}

.text-for-game{
    height: 100px;
    position: relative;
}

#p1score{
    position: absolute;
    left:2500px
}

#p2score{
    position: absolute;
    left:600px
}

.battle{
    position: absolute;
    width: 100px;
    height: 90px;
    font-size: 100px;
    top: 500px;
    left: 1600px;
    visibility: hidden;

}
.parent {

   position: absolute;
   

}

.card{
    border: 5px solid black;
    border-radius: 30px;
    margin: 0, auto;

    width: 288px;
    height: 400px;
   
    

    
}

#p1-card1{
    background-image: url(./cards/iraq_back_of_card.png);
    position: absolute;
    left: 900px;
    visibility: visible;
  
}
#p1-card2{
    background-image: url(./diamonds/14.png);
    position: absolute;
    left: 980px;
    top: 200px;
    visibility: hidden;
}
#p1-card3{
    background-image: url(./hearts/14.png);
    position: absolute;
    left: 1060px;
    top: 400px;
    visibility: hidden;
}
#p1-card4{
    background-image: url(./spades/14.png);
    position: absolute;
    left: 1140px;
    top: 600px;
    visibility: hidden;
}


#p2-card1{
    background-image: url(./cards/iraq_back_of_card.png);
    position: absolute;
    left: 1960px;
    top: 0px;
    visibility: hidden;
    
    
  
}
#p2-card2{
    background-image: url(./diamonds/13.png);
    position: absolute;
    left: 2040px;
    top: 200px;
    visibility: hidden;
}
#p2-card3{
    background-image: url(./hearts/13.png);
    position: absolute;
    left: 2120px;
    top: 400px;
    visibility: hidden;
}
#p2-card4{
    background-image: url(./spades/13.png);
    position: absolute;
    left: 2200px;
    top: 600px;
    visibility: hidden;
}












